<div class="hero text-center">
  <div class="container">
    {% block promoted %}
      {% snippet 'home/snippets/promoted.html' %}
    {% endblock %}
  </div>
</div>

<div class="group-topics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% snippet 'home/snippets/featured_groups.html', getGroups=true %}
      </div>
    </div>
  </div>
</div>

<div class="stats-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="group-heading">{{_("Quick stats")}}</p>
        {% snippet 'home/snippets/stats.html' %} 
      </div>
    </div>
  </div>
</div>

<div class="group-container">
  <p class="group-heading">{{_("Discover your data")}}</p>
  <div class="container-fluid">
    <div class="row">
      <div class="toggle-section text-center">
        <ul class="nav nav-tabs nav-justified">
          <li>
            <a class="toggle-view" href="#data" data-toggle="tab">
              <p>{{_("Data")}}</p>
            </a>
          </li>
          <li class="active">
            <a class="toggle-view" href="#visualize" data-toggle="tab">
              <p>{{_("Visualize")}}</p>
            </a>
          </li>
          <li>
            <a class="toggle-view" href="#locate" data-toggle="tab">
              <p>{{_("Locate")}}</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="data tab-pane fade" id="data">
          <!-- Latest Datasets Section -->
          {% set recent_datasets = h.amplus_get_recently_updated_datasets() %}
          {% if recent_datasets %}
            {{ h.snippet('home/snippets/featured_groups.html', groups=recent_datasets) }}
          {% else %}
            <p class="empty">{{ _('No datasets have been added yet') }}</p>
          {% endif %}
        </div>
        <div class="data tab-pane fade in active" id="visualize">
          {% block featured_charts %}
            {% set featured_charts = h.c3charts_featured_charts(4) %}
            {% if featured_charts %}
              {% for featured_chart in featured_charts %}
                {% snippet 'home/snippets/featured_chart_view.html', featured_chart=featured_chart %}
              {% endfor %}
            {% else %}
              <p class="empty">{{ _('No chart views have been created yet') }}</p>
            {% endif %}
          {% endblock %}
        </div>
        
        <div class="data tab-pane fade flex-column flex-align-center" id="locate">
          <!-- Map Section -->
          {% snippet 'snippets/coming_soon.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
